@font-face{
	font-family: quicksand;
	src:url(../fonts/quicksand/Quicksand_Book.otf);
}

@font-face{
	font-family: quicksand;
	src:url(../fonts/quicksand/Quicksand_Bold.otf);
	font-weight: bold;
}

@font-face{
	font-family: quicksand;
	src:url(../fonts/quicksand/Quicksand_Light.otf);
	font-weight: 100;
}

@font-face{
	font-family: quicksand;
	src:url(../fonts/quicksand/Quicksand_Book_Oblique.otf);
	font-style: italic;
}

html, body{
	height:100%;
	width:100%;
}

#Wrapper{
	height:100%;
	width:100%;
}

#Main{
	background:url(../img/bg3.jpg);
	display: table;
	position:relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
  	width:100%;
	min-height:100%;
	overflow:inherit;
}

#Box{
  width: 50%;
  height:60%;
  display:block;
  margin-top:10%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font:12px quicksand;
}


#logo{
	background:url(../img/logo.png);
	height:50px;
	width:70px;
	background-size:cover;
	margin:0 auto;
	margin-bottom:5%;
	
	display: inline-block;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	
}

#logo:hover{
	-webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#box-container{
}

#Box p{color:#fff;}

input[type="checkbox"]{
	height:20px;
	width:20px;
	background-color:rgba(65, 67, 69, 0.5);
}

input{
	background-color:rgba(65, 67, 69, 0.5);
	border:#FFF 1px solid;
	height:30px;
	width:250px;
	color:#FFF;
}

input, textarea{
    color: #fff;
}

input[type]{
	color:white;
}

input[type]:focus {
    color:#8ccef9;
}

button{
	background:#8ccef9;
	width:70px;
	height:20px;
	border:1px solid #fff;
}
#button{
	text-transform:uppercase;
	padding-top:5px;
	color:#333;
}

#button:hover{
	color:#FFF;
}

#link{
	padding-top:3%;
}

#link a{
	color:#FFF;
	text-decoration:none;
	letter-spacing:3px;
	
}

#link a:hover{
	font-style:italic;
}

@media(max-width:767px){
	.name{
	}
}

@media(min-width:768px){
	.name{
		width:123px;
	}
}

@media(min-width:992px){
	.name{
		width:123px;
	}
}

#validation{
	color:#8CCEF9;
}


.highlight{
	border: 1px solid red;
}

input:focus{
	border: none;
}

#redirect h1{
	color:white;
}


#redirect a{
	color:#CCC;
}

.error{
	display:none;
	color:#FFF;
}