<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Login</title>
<link rel="shortcut icon" type="image/png" href="img/icons/favicon.png"/>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="css/stylesheet2.css"/>
<body>


<div id="Wrapper">
    <div id="Main">
        <div id="Box">
            <div id="box-container">
                <a href="index.html">
                    <div id="logo"></div>
                </a>
                <div ng-app="">
                    <p><input type="text" name="username" ng-model="username" placeholder="Username"></p>
                    <p><input type="password" name="password" ng-model="password" placeholder="Password"></p>
                    <p>
                        <button type="submit" id="button">Login</button>
                    </p>
                </div>
                <div id="link"><a href="register.html">Not a User? Register Now!</a></div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scroll.js"></script>
<script>
$(document).ready(function () {
    var auth = {
        getToken: function() {
            localStorage.getItem("token");
        },
        setToken: function(token) {
            localStorage.setItem('token',token);
        },
        isAuthenticated: function() {
            return this.getToken()!=null;
        },
        requestToken: function() {
            return "Random String";
        }
    };
​
    $.ajaxSetup({
        headers: {
            Authorization: auth.getToken()
        },
        beforeSend: function(jqXHR, request) {
            if (request.url.indexOf("oauth/token") > -1 ){
                return true;
            }
            return auth.isAuthenticated();
        }
    });
​
    
​
    // function trueRequestFunction() {
    //     $.ajax({
    //         url: "http://128.199.232.120/oauth/token",
    //         method: "POST",
    //         data: {
    //             "client_id": "2d01f866507b7e8755be57d11da36d8493dcba57245c09321078d7b4d6d74198",
    //             "client_secret": "eb59bdac73d3eec58706f9f2808666a69f8ff5a0c61fc541593236e80a7c1020",
    //             "grant_type": "client_credentials"
    //         }
    //     });
    // }
​
});
</script>
</body>
</html>