<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Login</title>
<link rel="shortcut icon" type="image/png" href="Website Images/icons/favicon.png"/>
<link rel="stylesheet" href="CSS/stylesheet2.css"/>
<link rel="stylesheet" href="CSS/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="CSS/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" />
<body ng-app="">


<div id="Wrapper">
	<div id="Main">
    	<div id="Box">
            <div id="box-container">
            <div id="box-container">
            <a href="index.html"><div id="logo"></div></a>
            <div ng-app>
            <form name="Register">
            	<p><input type="text" id="name" name="fname" ng-model="fName" placeholder="First Name"> <input type="text" id="name" name="lName" ng-model="lName" placeholder="Last Name"></p>
                <p><input type="email" name="email" ng-model="email" placeholder="E-mail" required>
                <p><input type="text" name="pnumber" ng-model="pnumber" placeholder="Mobile Phone Number"></p>
                <p><input type="password" name="password" ng-model="password" placeholder="Password" ng-required ></p>
                <p><input type="password" name="password2" ng-model="password2" placeholder="Confirm Password" ng-required></p>
                <p><input type="text" name="COS" ng-model="COS" placeholder="Company/Organization/School"></p>
                <p><input type="text" name="PartnerNum" ng-model="PartnerNum" placeholder="Corporate Partner Code"></p>
                <p>Partner Establishment?<br>
                <input type="checkbox">Yes</p>
                
                <p><button type="submit" id="button">Register</button></p>
                </form>
            </div>
           
            <div id="link"><a href="login.html">Already a User? Sign in!</a></div>
            </div>
            </div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> 
<script src="CSS/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script> 
<script src="CSS/bootstrap-3.3.6-dist/js/bootstrap.js"></script> 
<script src="Scripts/scroll.js"></script>
</body>
</html>