<div id="hContainer">
    <h1>How it Works</h1>
    <div id="HContainer">
        <div id="hIcons">
            <div id="i1"><img src="img/icons/h1.png"/></div>
        </div>
        <!--HIcons!-->
        <div id="HBar">
            <ul id="pBar">
                <li><a>
                    <div id="l1" class="node blue"></div>
                </a></li>
                <li>
                    <div id="dd1" class="divider grey"></div>
                </li>
                <li><a>
                    <div id="l2" class="node grey"></div>
                </a></li>
                <li>
                    <div id="dd2" class="divider grey"></div>
                </li>
                <li><a>
                    <div id="l3" class="node grey"></div>
                </a></li>
            </ul>
        </div>
        <!--Bar!-->
        <div id="HDesc">
            <div id="d1">
                <h2><a>1. Join the Community</a></h2>
                <p><a href="register.html">Register your personal details here</a> & sign up your
                    organization to share Wave with your
                    community.</p>
            </div>
            <!--D1!-->

            <div id="d2">
                <h2><a>2. Reserve Your Ride</a></h2>
                <p>Guarantee your rides by booking in advance with Wave's online system(Coming Soon).</p>
            </div>
            <!--D2!-->

            <div id="d3">
                <h2><a>3. Ride the Wave</a></h2>
                <p>Simply wait for confirmation before boarding on the vehicle.</p>
            </div>
            <!--D3!-->
            <div class="clear"></div>
        </div>
        <!--Descs!-->
    </div>
    <!--HContainer!-->
</div>