<section id="register">
    <div id="Main">
        <div id="Box">
            <div id="box-container">
                <a href="index.html">
                    <div id="logo"></div>
                </a>
                <form class="form-horizontal" ng-submit="login.login()">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input ng-model="login.form.email" type="text" id="lEmail" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input ng-model="login.form.password" type="password" id="lPass" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" id="button1" ng-disabled="login.isSending">Login</button>
                            <div id="pError" class="error">Invalid username or password</div>
                        </div>
                    </div>

                </form>
                <div id="link"><a ui-sref="register" >Not a User? Register Now!</a></div>
            </div>
        </div>
    </div>
</section>