<nav class="navbar transparent navbar-inner navbar-fixed-top" id="waveNav">
    <div class="container-fluid">
        <div class="navbar-header">
            <div>
                <button type="button" class="pull-left navbar-toggle" id="side" data-toggle="offcanvas"
                        data-target="#nv" data-canvas="body"><span
                        class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" id="minlogo" ui-sref="home()">
                <img src="img/logo2.png"/>
            </a>
        </div>
        <div id="nv" class="collapse navbar-collapse">
            <ul id="nvu" class="nav navbar-nav navbar-right">
                <li><a ui-sref="login()">login</a></li>
                <li><a ui-sref="register()" id="regLink">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="login-box">
                    <a href="index.html" class="login-logo">
                        <img src="img/logo-new.png" alt="">
                    </a>
                    <!-- /.login-logo -->
                    <div class="login-box-body">
                        <p class="login-box-msg">Sign in to start riding the wave</p>

                        <form ng-submit="loginCtrl.login()">
                            <div class="form-group has-feedback">
                                <input ng-model="loginCtrl.form.email" type="email" class="form-control" placeholder="Email">
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input ng-model="loginCtrl.form.password" type="password" class="form-control" placeholder="Password">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="remember-me-box">
                                        <input ng-model="loginCtrl.form.rememberMe" id="remember-me" type="checkbox"> <label for="remember-me">Remember Me</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="loginCtrl.isSending">Login</button>
                                </div>
                            </div>
                        </form>

                        <div class="social-auth-links text-center">
                            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat" ng-disabled="loginCtrl.isSending"><i class="fa fa-facebook"></i> Sign in using
                                Facebook</a>
                        </div>
                        <!-- /.social-auth-links -->

                        <!--<a href="#">I forgot my password</a><br>-->
                        <a href="register.html" class="text-center">Register</a>

                    </div>
                    <!-- /.login-box-body -->
                </div>
            </div>
        </div>
    </div>
</section>