<nav class="navbar transparent navbar-inner navbar-fixed-top" id="waveNav">
    <div class="container-fluid">
        <div class="navbar-header">
            <div>
                <button type="button" class="pull-left navbar-toggle" id="side" data-toggle="offcanvas"
                        data-target="#nv" data-canvas="body"><span
                        class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" id="minlogo" ui-sref="home()">
                <img src="img/logo2.png"/>
            </a>
        </div>
        <div id="nv" class="collapse navbar-collapse">
            <ul id="nvu" class="nav navbar-nav navbar-right">
                <li><a ui-sref="login()">login</a></li>
                <li><a ui-sref="register()" id="regLink">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-box">
                    <a href="index.html" class="login-logo">
                        <img src="img/logo-new.png" alt="">
                    </a>
                    <!-- /.login-logo -->
                    <div class="login-box-body">
                        <p class="login-box-msg">Register to start riding the wave</p>
                        <!--<div class="social-auth-links text-center">-->
                            <!--<a href="#" class="btn btn-block btn-social btn-facebook btn-flat" ng-disabled="loginCtrl.isSending"><i class="fa fa-facebook"></i> Register using-->
                                <!--Facebook</a>-->
                        <!--</div>-->
                        <!--<p class="text-center">&#45;&#45; OR &#45;&#45;</p>-->
                        <form ng-submit="loginCtrl.register()">
                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div style="position: relative;">
                                            <input ng-model="form.user.first_name" type="text" class="form-control" placeholder="First Name">
                                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div style="position: relative;">
                                            <input ng-model="form.user.last_name" type="text" class="form-control" placeholder="Last Name">
                                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <input ng-model="form.user.phone" type="number" class="form-control" placeholder="Mobile Number">
                                <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input ng-model="form.user.email" type="email" class="form-control" placeholder="Email">
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input ng-model="form.user.password" type="password" class="form-control" placeholder="Password">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input ng-model="form.user.password_confirmation" type="password" class="form-control" placeholder="Re-type password">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="loginCtrl.isSending">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.login-box-body -->
                </div>
            </div>
        </div>
    </div>
</section>