#booking{
  #origin{
    .box-body{
      height: 230px;

      tr{
        cursor: pointer;
      }
    }

    .box-footer{
      .pagination{
        margin: 10px 0;
      }
    }
  }

  .angular-google-map-container{
    height: 300px;
  }
}

#booking-summary{
  .box-body{
    min-height: 400px;
  }
}