
#register {
  height: 100vh;
  width: 100%;
  background: url(../img/bg3.jpg);
  background-size: cover;

  #Box {
    text-align: center;
    font: 12px quicksand;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }

  #logo {
    background: url(../img/logo.png);
    height: 100px;
    width: 150px;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 5%;

    display: inline-block;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  }

  #logo:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  #Box p {
    color: #fff;
  }

  input[type="checkbox"] {
    height: 20px;
    width: 20px;
    background-color: rgba(65, 67, 69, 0.5);
  }

  input {
    background-color: rgba(65, 67, 69, 0.5);
    border: #FFF 1px solid;
    height: 40px;
    width: 100%;
    padding: 5px;
    color: #FFF;
    font: 14px quicksand;
  }

  input, textarea {
    color: #fff;
  }

  input[type] {
    color: white;
  }

  input[type]:focus {
    color: #8ccef9;
  }

  button {
    background: #8ccef9;
    width: 100%;
    height: 30px;
    border: 1px solid #fff;
    color: #000;
    font: 15px quicksand;
  }

  button:hover {
    color: #FFF;
  }

  #button {
    text-transform: uppercase;
    padding-top: 5px;
    color: #000;
  }

  #button:hover {
    color: #FFF;
  }

  #link {
    padding-top: 3%;
  }

  #link a {
    color: #FFF;
    text-decoration: none;
    letter-spacing: 3px;

  }

  #link a:hover {
    font-style: italic;
  }

  @media(max-width: 767px) {
    #Box {
      width: 90%;
    }
  }

  @media(min-width: 768px) {
    #Box {
      width: 30%;
    }
  }

  @media(min-width: 992px) {
    #Box {
      width: 30%;
    }
  }

  #validation {
    color: #8CCEF9;
  }

  .highlight {
    border: 1px solid red;
  }

  input:focus {
    border: none;
  }

  #redirect h1 {
    color: white;
  }

  #redirect a {
    color: #CCC;
  }

  .error {
    display: none;
    color: #FFF;
  }

}

/*form styles*/
#msform {
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  width: 100%;
  border: 0 none;
  border-radius: 3px;
  padding: 20px 0px;

  box-sizing: border-box;

  /*stacking fieldsets above each other*/
  position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  padding: 0px;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #feaf52;
  color: white;
}